body {
    background-color: rgb(21, 104, 228);
}

.container {
    position: absolute;
    top: 10%;
    left: 33%;
}

.top-title {
    color: rgb(230, 216, 16);
    display: flex;
    justify-content: center;
    font-family:monospace;
    font-size: 3rem;
    font-weight: bolder;
}

.game-board {
    height: 600px;
    width: 600px;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 4px;
}

.square {
    height: 200px;
    width: 200px;
    display: flex;
    background-color: rgb(21, 104, 228);
    color:rgb(230, 216, 16);
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.winner-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}


.restart-button {
    transition-duration: 0.1s;
    background-color: white;
    color:rgb(21, 104, 228);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}
      
.restart-button:hover {
    background-color: rgb(230, 216, 16) ;
}

.winner-text {
    font-size: 2rem;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(230, 216, 16);

}